<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-subs-item-delivery-heading" jhiTranslate="crmwebApp.subsItemDelivery.home.createOrEditLabel">Create or edit a Subs Item Delivery</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subsItemDelivery.deliveryId" for="field_deliveryId">Delivery Id</label>
                    <input type="number" class="form-control" name="deliveryId" id="field_deliveryId"
                           formControlName="deliveryId"/>
                    <div *ngIf="editForm.get('deliveryId')!.invalid && (editForm.get('deliveryId')!.dirty || editForm.get('deliveryId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('deliveryId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('deliveryId')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subsItemDelivery.orderId" for="field_orderId">Order Id</label>
                    <input type="text" class="form-control" name="orderId" id="field_orderId"
                           formControlName="orderId"/>
                    <div *ngIf="editForm.get('orderId')!.invalid && (editForm.get('orderId')!.dirty || editForm.get('orderId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('orderId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subsItemDelivery.subscriptionId" for="field_subscriptionId">Subscription Id</label>
                    <input type="text" class="form-control" name="subscriptionId" id="field_subscriptionId"
                           formControlName="subscriptionId"/>
                    <div *ngIf="editForm.get('subscriptionId')!.invalid && (editForm.get('subscriptionId')!.dirty || editForm.get('subscriptionId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('subscriptionId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subsItemDelivery.subscriptionItemId" for="field_subscriptionItemId">Subscription Item Id</label>
                    <input type="text" class="form-control" name="subscriptionItemId" id="field_subscriptionItemId"
                           formControlName="subscriptionItemId"/>
                    <div *ngIf="editForm.get('subscriptionItemId')!.invalid && (editForm.get('subscriptionItemId')!.dirty || editForm.get('subscriptionItemId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('subscriptionItemId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subsItemDelivery.deliveryStatus" for="field_deliveryStatus">Delivery Status</label>
                    <input type="text" class="form-control" name="deliveryStatus" id="field_deliveryStatus"
                           formControlName="deliveryStatus"/>
                    <div *ngIf="editForm.get('deliveryStatus')!.invalid && (editForm.get('deliveryStatus')!.dirty || editForm.get('deliveryStatus')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('deliveryStatus')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subsItemDelivery.deliveryMethodId" for="field_deliveryMethodId">Delivery Method Id</label>
                    <input type="text" class="form-control" name="deliveryMethodId" id="field_deliveryMethodId"
                           formControlName="deliveryMethodId"/>
                    <div *ngIf="editForm.get('deliveryMethodId')!.invalid && (editForm.get('deliveryMethodId')!.dirty || editForm.get('deliveryMethodId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('deliveryMethodId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subsItemDelivery.deliveryRefCode" for="field_deliveryRefCode">Delivery Ref Code</label>
                    <input type="text" class="form-control" name="deliveryRefCode" id="field_deliveryRefCode"
                           formControlName="deliveryRefCode"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subsItemDelivery.fileGenerationDate" for="field_fileGenerationDate">File Generation Date</label>
                    <div class="d-flex">
                        <input id="field_fileGenerationDate" type="datetime-local" class="form-control" name="fileGenerationDate" formControlName="fileGenerationDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subsItemDelivery.fileReceivedDate" for="field_fileReceivedDate">File Received Date</label>
                    <div class="d-flex">
                        <input id="field_fileReceivedDate" type="datetime-local" class="form-control" name="fileReceivedDate" formControlName="fileReceivedDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subsItemDelivery.deliveryDate" for="field_deliveryDate">Delivery Date</label>
                    <div class="d-flex">
                        <input id="field_deliveryDate" type="datetime-local" class="form-control" name="deliveryDate" formControlName="deliveryDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subsItemDelivery.remarks" for="field_remarks">Remarks</label>
                    <input type="text" class="form-control" name="remarks" id="field_remarks"
                           formControlName="remarks"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subsItemDelivery.createdDate" for="field_createdDate">Created Date</label>
                    <div class="d-flex">
                        <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" formControlName="createdDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('createdDate')!.invalid && (editForm.get('createdDate')!.dirty || editForm.get('createdDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('createdDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('createdDate')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subsItemDelivery.createdBy" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                    <div *ngIf="editForm.get('createdBy')!.invalid && (editForm.get('createdBy')!.dirty || editForm.get('createdBy')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('createdBy')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subsItemDelivery.lastUpdatedDate" for="field_lastUpdatedDate">Last Updated Date</label>
                    <div class="d-flex">
                        <input id="field_lastUpdatedDate" type="datetime-local" class="form-control" name="lastUpdatedDate" formControlName="lastUpdatedDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('lastUpdatedDate')!.invalid && (editForm.get('lastUpdatedDate')!.dirty || editForm.get('lastUpdatedDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastUpdatedDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('lastUpdatedDate')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subsItemDelivery.lastUpdatedBy" for="field_lastUpdatedBy">Last Updated By</label>
                    <input type="text" class="form-control" name="lastUpdatedBy" id="field_lastUpdatedBy"
                           formControlName="lastUpdatedBy"/>
                    <div *ngIf="editForm.get('lastUpdatedBy')!.invalid && (editForm.get('lastUpdatedBy')!.dirty || editForm.get('lastUpdatedBy')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastUpdatedBy')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subsItemDelivery.tenantId" for="field_tenantId">Tenant Id</label>
                    <input type="text" class="form-control" name="tenantId" id="field_tenantId"
                           formControlName="tenantId"/>
                    <div *ngIf="editForm.get('tenantId')!.invalid && (editForm.get('tenantId')!.dirty || editForm.get('tenantId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tenantId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="crmwebApp.subsItemDelivery.orderMaster" for="field_orderMaster">Order Master</label>
                    <select class="form-control" id="field_orderMaster" name="orderMaster" formControlName="orderMaster">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="orderMasterOption.id === editForm.get('orderMaster')!.value?.id ? editForm.get('orderMaster')!.value : orderMasterOption" *ngFor="let orderMasterOption of ordermasters; trackBy: trackById">{{ orderMasterOption.orderId }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
