<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="productSimAttributes">
            <h2><span jhiTranslate="crmwebApp.productSimAttributes.detail.title">Product Sim Attributes</span> {{ productSimAttributes.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="crmwebApp.productSimAttributes.simType">Sim Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'crmwebApp.SimType.' + productSimAttributes.simType }}">{{ productSimAttributes.simType }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.productSimAttributes.imsiRangeFrom">Imsi Range From</span></dt>
                <dd>
                    <span>{{ productSimAttributes.imsiRangeFrom }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.productSimAttributes.imsiRangeTo">Imsi Range To</span></dt>
                <dd>
                    <span>{{ productSimAttributes.imsiRangeTo }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.productSimAttributes.simRepositoryRef">Sim Repository Ref</span></dt>
                <dd>
                    <span>{{ productSimAttributes.simRepositoryRef }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.productSimAttributes.createdDate">Created Date</span></dt>
                <dd>
                    <span>{{ productSimAttributes.createdDate }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.productSimAttributes.createdBy">Created By</span></dt>
                <dd>
                    <span>{{ productSimAttributes.createdBy }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.productSimAttributes.lastUpdatedDate">Last Updated Date</span></dt>
                <dd>
                    <span>{{ productSimAttributes.lastUpdatedDate }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.productSimAttributes.lastUpdatedBy">Last Updated By</span></dt>
                <dd>
                    <span>{{ productSimAttributes.lastUpdatedBy }}</span>
                </dd>
                <dt><span jhiTranslate="crmwebApp.productSimAttributes.tenantId">Tenant Id</span></dt>
                <dd>
                    <span>{{ productSimAttributes.tenantId }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product-sim-attributes', productSimAttributes.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
